img {
   
    width: 100px;
    // background-color: rgb(26, 119, 119);
    border-radius: 9px;
    background-color: rgba(26, 119, 119, 0.4);

}

img:hover {
    opacity: 0.6;
}

.head {
    border: 1px solid rgb(26, 119, 119 , 0.4);
    margin-top: -25px;
    background-color: rgb(26, 119, 119 , 0.4);
    height: 1.7rem;
    font-size: 16px;
    width: 8rem;
    color: rgb(11, 17, 44);
    padding-top: 0;
    padding-bottom: 5px;
    text-align: center;
    font-weight: bold;
    border-radius: 9px;

}
 .overview-box-icon{
    opacity: 0.8;
  }
.card-body{
    padding: 45px;
    margin: 3px;
    color:white;
    background-color: rgb(166, 248, 248);
    text-align: center;
    color: white;
}
.card-body1{
    padding: 45px;
    margin: 3px;
    color:white;
    text-align: center;
    background-color: rgb(27, 75, 75);
}

.card-body2{
    padding: 45px;
    margin: 3px;
    color:white;
    background-color: rgb(175, 30, 132);
    text-align: center;
}

.card-body3{
    padding: 45px;
    margin: 3px;
    color:white;
    background-color: rgb(42, 173, 103);
    text-align: center;
}
.card-body4{
    padding: 45px;
    margin: 3px;
    color:white;
    background-color: rgb(206, 203, 39);
    text-align: center;
    color: white;
}
.card-body5{
    padding: 45px;
    margin: 3px;
    color:white;
    background-color: rgb(204, 92, 28);
    text-align: center;
    color: white;
}
.card-body6{
    padding: 45px;
    margin: 3px;
    color:white;
    background-color: rgb(24, 197, 197);
    text-align: center;
    color: white;
}
.card-body7{
    padding: 45px;
    margin: 3px;
    color:white;
    background-color: rgb(39, 41, 197);
    text-align: center;
    color: white;
}