<app-page-header [title]='title'></app-page-header>
<p-toolbar>
    <div class="ui-toolbar-group-left">
        <!-- <button pButton type="button" label="New" icon="fa fa-plus" class="ui-button-info"></button> -->
        <button pButton type="button" label="Update" icon="fa fa-floppy-o" class="ui-button-success"
            (click)="updateGradeMaster()"></button>
        <button pButton type="button" label="Save" icon="fa fa-floppy-o" class="ui-button-success"
            (click)="insertGradeMaster()"></button>
        <button pButton type="button" label="List" icon="fa fa-list" class="ui-button-info"
            (click)="getAllGradeMaster()"></button>
        <!-- <button pButton type="button" label="Print" icon="fa fa-print" class="ui-button-success"></button>
        <button pButton type="button" class="ui-button-danger" label="Cancel" icon="fa fa-close"></button> -->

    </div>
</p-toolbar>
<br><br>

<div class="card card-w-title" [formGroup]='LevelmasterForm'>
    <!-- <div class="p-grid" style="padding-left: 10%;">
        <div class="p-col-1">
            <label>Code:</label>
        </div>
        <div class="p-col-4">
            <input type="text" pInputText style="width: 100%;" formControlName="Code" placeholder="--Code--" />
            <div class="error" *ngIf="f.Code.touched && f.Code.invalid">
                <span> Code is Mandatory Field*</span>
            </div>
        </div>
    </div> -->
    <div class="p-grid" style="padding-left: 10%;">
        <div class="p-col-1">
            <label>Grade:</label>
        </div>
        <div class="p-col-7">
            <input type="text" pInputText style="width: 100%;" formControlName="gradeName" placeholder="--Grade--" />
            <div class="error" *ngIf="submitted && f.gradeName.errors">
                <span *ngIf="submitted && f.gradeName.errors && f.gradeName.errors.required">Grade is
                    Required</span>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Grade Master" [(visible)]="displayMaximizeable" [modal]="true" [style]="{width:'60%'}"
    [draggable]="false">
    <p-table [value]="gradeMasterList" [columns]="cols" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
            <tr>
                <th>Grade Id</th>
                <th>Grade Name</th>
                <th>Action</th>


            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <th>{{item.gid}}</th>
                <th>{{item.gradeName}}</th>
                <td>
                    <button pButton type="button" class="ui-button-info" icon="fa fa-pencil"
                        (click)="selectForEdit(item)"></button>
                    <button pButton type="button" class="ui-button-danger" icon="fa fa-trash"
                        (click)="deleteGradeMaster(item)"></button>
                </td>

            </tr>
        </ng-template>
    </p-table>
</p-dialog>
<p-toast></p-toast>