<div class="matero-page-header">
    <div class="matero-page-header-inner">
        <h2 class="matero-page-title">{{title}}</h2>
    </div>
</div>
<p-toolbar>
    <div class="ui-toolbar-group-left">
        <button pButton type="button" label="New" icon="fa fa-plus" class="ui-button-info"></button>
        <button pButton type="button" label="Edit" icon="fa fa-pencil" class="ui-button-success"></button>
        <button pButton type="button" label="Save" icon="fa fa-floppy-o" class="ui-button-success"></button>
        <button pButton type="button" label="List" icon="fa fa-list" class="ui-button-info"></button>
        <button pButton type="button" label="Cancel" class="ui-button-danger" icon="fa fa-ban"></button>
        <button pButton type="button" label="Print" icon="fa fa-print" class="ui-button-success"></button>
        <button pButton type="button" class="ui-button-danger" label="Delete" icon="fa fa-close"></button>

    </div>
</p-toolbar>
<div class="card card-w-title" [formGroup]='CDForm'>
    <p-tabView  [activeIndex]="index" (onChange)="handleChange($event)">
        <p-tabPanel [header]="'Change Department'|translate">
            <div class="p-grid">
                <div class="p-col-1 p-md-1 p-lg-1">
                    <label>Id</label>
                </div>
                <div class="p-col-4 p-md-4 p-lg-4">
                    <input type="text" pInputText [style]="{width:'100%'}" formControlName="Id"
                        placeholder="--Id--" />
                    <div class="error" *ngIf="f.Id.touched && f.Id.invalid">
                        <span>Id is Mandatory Field*</span>
                    </div>
                </div>
                <div class="p-col-1 p-md-1 p-lg-1">
                    <label>Date:</label>
                </div>
                <div class="p-col-4 p-md-4 p-lg-4">
                    <p-calendar [showIcon]="true" formControlName="Date" [style]="{'width':'96%'}" [inputStyle]="{'width':'96%'}">
                    </p-calendar>
                    <div class="error" *ngIf="f.Date.touched && f.Date.invalid">
                        <span>Date is Mandatory Field*</span>
                    </div>
                </div>
            </div>
            
            <div class="p-grid">
                <div class="p-col-1 p-md-1 p-lg-1">
                    <label>Remarks</label>
                </div>
                <div class="p-col-9 p-md-9 p-lg-9">
                    <textarea pInputTextarea [style]="{width:'100%'}" formControlName="Remarks"></textarea>
                    <div class="error" *ngIf="f.Remarks.touched && f.Remarks.invalid">
                        <span>Remarks is Mandatory Field*</span>
                    </div>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
    <div class="card card-w-title">
        <p-tabView [activeIndex]="index" (onChange)="handleChange($event)">
            <p-tabPanel [header]="'Change Department' | translate">
                <div class="grid">
                    <div class="p-col-12">
                        <hot-table [hotId]="hotid" [licenseKey]="licensekey" [settings]="changedepartment">
                        </hot-table>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
